{% extends 'base.html' %}

{% block content %}
    <h1 class="my-4">Crear Producto</h1>
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="name">Producto</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del producto" required>
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Descripción del producto" required></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input type="number" class="form-control" id="price" name="price" step="0.01" placeholder="Precio del producto" required>
                </div>
                <div class="form-group">
                    <label for="quantity">Cantidad</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Cantidad disponible" required>
                </div>
                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>
{% endblock %}